* {
    margin: 0;
}
/*This is the slideshow css*/
.Conatiner{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.scrollbtn{
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
}
#imageslide{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width:250px;
    height:150px;
    
}
#imageslideBefore, #imageslideAfter{
    width:150px;
    height:100px;
    border-radius: 25px;
    
}
figure{
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    
}
figcaption{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    max-width: 250px;
}
body{
    background-color: black;
   
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}